/vendor
/node_modules

.env
.env.backup
.env.production
/public/hot
/public/storage

/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*

/*.sqlite
/*.sqlite-journal

.phpunit.result.cache
.vscode/
.idea/
 Homestead.json
 Homestead.yaml
 auth.json
 /npm-debug.log
 /yarn-error.log
